<mat-card style="margin-left: -1%;" *ngIf="user" class="grey-back mt-2 white">
  <h1>Your Profile Details</h1>
  <!-- {{ user | json }} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container ">
        <div class="container text-center">
          <img src="https://t4.ftcdn.net/jpg/03/46/93/61/360_F_346936114_RaxE6OQogebgAWTalE1myseY1Hbb5qPM.jpg" alt=""
            class="profile-image" />

          <h1 class="mt20">{{ user.firstName }} {{ user.lastName }}</h1>
        </div>

        <div class="row">
          <div class="col-md-10 offset-md-1">
            <!-- //table Details  -->
            <table class="table text-center">
              <tr>
                <td class="silver">Username</td>
                <td class="white">{{ user.username }}</td>
              </tr>
              <tr>
                <td class="silver">Userid</td>
                <td class="white">EXAM{{ user.id }}</td>
              </tr>
              <tr>
                <td class="silver">Phone</td>
                <td class="white">{{ user.phone }}</td>
              </tr>
              <tr>
                <td class="silver">Role</td>
                <td class="white">{{ user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td class="silver">Status</td>
                <td class="white">{{ user.enabled ? "ACTIVE" : "NOTACTIVE" }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
    <button mat-raised-button class="btn-blue">UPDATE</button>
  </mat-card-actions>
</mat-card>