
<div class="row ">
    <div class="col-md-12 mt-2">
        <mat-card style=" background-color: #1F2833; color: white;">
            <mat-card-content>
                <h1 class="text-center">Welcome to ADMIN Panel</h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row mt20">
    <div class="col-md-4">
        <mat-card class="mb20" style="background-color: #1F2833; color: white;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Total User
                </mat-card-title>
                <mat-card-subtitle style="color: #66fcf1;">
                    <h2>0</h2>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card class="mb20" style="background-color: #1F2833; color: white;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Total Categories
                </mat-card-title>
                <mat-card-subtitle style="color: #66fcf1;">
                    <h2>0</h2>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-4">
        <mat-card class="mb20" style="background-color: #1F2833; color: white;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>
                    Total Quizzes
                </mat-card-title>
                <mat-card-subtitle style="color: #66fcf1;">
                    <h2>0</h2>
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-12">
        <mat-card style=" background-color: #1F2833; color: white;">
            <mat-card-content>
                <h1 class="text-center">No data Found</h1>
            </mat-card-content>
        </mat-card>
    </div>
</div>
