<div class="bootstrap-wrapper" *ngIf="!isSubmit">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!-- instructions -->
        
      </div>
      <div class="col-md-8">
        <!-- questions -->
        <ng-container *ngIf="questions">
          <h1 class="green mt-5">
            On Going Quiz <b>{{ questions[0].quiz.title }}</b>
          </h1>
        </ng-container>

        <mat-card *ngFor="let q of questions; let i = index" class="grey-back white m-1">
          <mat-card-content>
            <p style="display: flex; align-items: center;">
              <span style="margin-right: 0px;font-size:14px;">{{ i + 1 }}. </span>
              <span class="ml10" [innerHTML]="q.content"></span>
            </p>

            <mat-divider> </mat-divider>
            <br />

            <div class="row mt20 blue">
              <div class="col-md-6">
                <input
                  type="radio"
                  style=" margin-right: 10px;"
                  [value]="q.option1"                 
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option1 }}
              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  style=" margin-right: 10px;"
                  [value]="q.option2"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option2 }}
              </div>
            </div>

            <div class="row mt20 blue">
              <div class="col-md-6">
                <input
                  type="radio"
                  style=" margin-right: 10px;"
                  [value]="q.option3"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option3 }}
              </div>
              <div class="col-md-6">
                <input
                  type="radio"
                  style=" margin-right: 10px;"
                  [value]="q.option4"
                  [name]="i"
                  [(ngModel)]="q.givenAnswer"
                />{{ q.option4 }}
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <div class="container text-center mt20 mb20 ">
          <button (click)="submitQuiz()" mat-raised-button class="light-blue" >
            Submit Quiz
          </button>
        </div>
      </div>
      <div class="col-md-2">
        <!-- progress -->

        <mat-card class="grey-back" style="margin-top: 70px">
          <mat-card-header class="white">
            <mat-card-title > Progress </mat-card-title>
            <mat-card-subtitle class="white">
              Quiz will automatically submitted when timer reaches to <b>0:0</b>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <h1 class="text-center white">{{ getFormattedTime() }}</h1>
            <mat-spinner 
              mode="determinate"
              style="margin: auto; color: #45A29E;"
              [value]="(timer / (this.questions.length * 2 * 60)) * 100"
            ></mat-spinner>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<!-- show the result -->
<div class="bootstrap-wrapper " *ngIf="isSubmit" >
  <div class="row mt20 ">
    <div class="col-md-6 offset-md-3">
      <mat-card class="grey-back">
        <mat-card-header>
          <mat-card-title class="white"> Quiz Result </mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center silver" >
          <h1>Marks Got : {{ marksGot }}</h1>
          <h1>Correct Answers : {{ correctAnswers }}</h1>
          <h1>Questions Attempted :{{ attempted }}</h1>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button mat-raised-button class="btn-blue" (click)="generatePDF()">Print</button>
          <button
          class="btn-blue"
            mat-raised-button
           
            [routerLink]="'/user-dashboard/0'"
          >
            Home
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
