/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background: #0b0c10;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
  text-align: center;
}

.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}

.black{
  color: #0B0C10;
}
.black-back{
  background-color: #0B0C10;
}
.grey-back{
  background-color: #1F2833;
}
.green{
  color: #45a29e;
}
.white{
  color: white;
}

.blue{
  color: #66FCF1;
}
.btn-blue{
  background-color: #66FCF1;
  color: black;
}
.btn-blue-back{
  background-color: none;
  color: #45a29e;
}
.silver{
  color: #C5C6C7;
}


