<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <h1 class="mt20" style="color: #45a29e;">Available Quizzes</h1>
    <div class="row mt20" *ngIf="quizzes">
      <div class="col-md-4" *ngFor="let q of quizzes">
        <mat-card class="mb20" style="background-color: #1F2833; color: white;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              {{ q.title }}
            </mat-card-title>
            <mat-card-subtitle style="color: #66fcf1;">
              {{ q.category.title }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p class="truncate" >{{ q.description }}</p>
          </mat-card-content>
          <mat-card-action style="justify-content: space-between; display: flex;">
            <button style="background-color: #66fcf1; color: black; border: none;"  type="button" class="btn btn-primary btn-sm">View</button>
            <button
            style="background-color: #66fcf1; color: black; border: none;"  type="button" class="btn btn-primary btn-sm"
              [routerLink]="'/user-dashboard/instructions/' + q.qId" >
              Start
            </button>
            <button style="background-color: #1F2833; color: #45A29E; border: none;">
              Questions :{{ q.numberOfQuestions }}
            </button>
            <button style="background-color: #1F2833; color: #45A29E; border: none;">M.M :{{ q.maxMarks }}</button>
          </mat-card-action>
        </mat-card>
      </div>

      <div class="col-md-12" *ngIf="quizzes.length == 0">
        <mat-card style=" background-color: #1F2833; color: white;">
          <mat-card-content>
            <h1>No data in this category</h1>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
